.header {
  display:flex;
  border-bottom: solid 2px;
  border-color: grey;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-flex {
  display:flex;
  flex-direction: row;
}

.header__title {
  margin-left: 30px;
  margin-right: 30px;
  font-family: League Spartan;
}

.header__button {
  margin: 10px;
  width: 100px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0 2rem;
  list-style: none;
  justify-content: center;
  margin: 0;
  
}

.header__nav-buttons {
  margin: 10px;
  text-decoration: none;
  &:hover {
    background-color: #777;
  }
  

}