.home {
display: flex;
flex-direction: column;

}

.home__title1 {
  margin-top: 60px;
  margin-left: 60px;
}

.home__title2 {
  margin-left: 120px;
}

.home__image {
  margin-top: 30px;
width: 1000px;
height: 400px;
position: relative;
left: 50%;
transform: translateX(-50%);
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}