.home {
  display:flex;
  flex-direction: column;
  font-family: League Spartan;

}

// About me

.about-me {
display: flex;
flex-direction: column;
margin-top: 3rem;
height: 90vh;
border-bottom: black;
border-bottom-style: solid;
align-items: center
}

.image-box__title {
  margin-top: 1rem;
  text-align: center;
}

.image-box__tech-stack {
  margin-left: 2rem;
  margin-bottom:0;
  text-align: center;
}

.image-box {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.image-box__image {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 20%;
  border-radius: 50%;
  position: relative;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.highlights {
  text-align: left;
  line-height: 1.8;
  font-style: italic;
  width: 40%;
  background-color: #f4f4f4;
  padding: 1rem 1rem 1rem 4rem;
}

// Projects

.projects {
  display:flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding-top: 50px;
}

.carousel {
  width: 70%;
  padding-bottom: 50px;
}

.projects__title {
  margin-bottom: 50px;
  width: 80%;
}

.carousel__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carousel__button {
  width: 100px;
  margin: 10px;
}

.carousel__image {
  width: 100%;
  height: 50%;
}
